
body {
  max-width: 100%;
  max-height: 100%;
}

body.ember-application {
  flex-direction: row;
  flex: 1;
  display: flex;
}

body > div.ember-view {
  flex-direction: row;
  flex: 1;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}



$dark-contrast-color: rgba(255,255,255, .9);
$color-indigo: (
  '0': #FFFFFF,
  '50': #D6DCFF,
  '100': #A5B3FE,//
  '200': #536DFE,//
  '300': #536DFE,//
  '400': #3D5AFE,//
  '500': #304FFE,//
  '600': #1237FD,//
  '700': #0324D5,//
  '800': #021BA2,//
  '900': #02157D,//
  '1000': #011060,//
  'A100': #8C9EFF,//
  'A200': #536DFE,//
  'A400': #3D5AFE,//
  'A700': #304FFE,//
  'contrastDefaultColor': $dark-contrast-color
);

@import 'ember-paper';

@mixin Roboto-Condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

h2, h3, h4, h5 {
  @include Roboto-Condensed;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.header {
  height: 500px;
  position: absolute;
  width: 110%;
  height: 300px;
  left: -20px;
  top: -50px;
  z-index: -1;
  background: linear-gradient(92.74deg, color($color-deep-purple, 'A100') 16.67%, color($primary, '500') 100.76%);
  transform: rotate(3deg);
  .pattern {
    position: absolute;
    height: 140%;
    width: 60%;
    background-image: url("../rbeas-portfolio/images/pattern.svg");
    transform: rotate(-13deg);
    -webkit-backface-visibility: hidden;
  }
}

body {
  background-color: rgba(color($color-grey, '900'), .04);
}

.mobile-message {
  display: none !important;
  .icon-container {
    border-radius: 50%;
    background: linear-gradient(to bottom, color($color-deep-purple, 'A100'), color($primary));
    padding: 12px;
  }
}

.tab-container {
  display: none;
}

.logo {
  &:not(.no-border) {
    border: 2px solid color($primary, 'contrastDefaultColor');
    padding: 4px 8px;
    border-radius: 4px;
  }
  &.small {
    &:before {
      font-size: 30px;
    }
  }
  &:before {
    content: 'Rb';
    @include Roboto-Condensed;
    color: color($primary, 'contrastDefaultColor');
    font-weight: bold;
    font-size: 40px;
  }
}

.headshot {
  margin: 3%;
  height: 120px;
  border: 6px solid rgba(color($primary, 'contrastDefaultColor'), 1);
  border-radius: 50%;
  position: relative;
  &:after {
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0px 16px rgba(0,0,0,0.6);
    -moz-box-shadow:    inset 0px 0px 16px rgba(0,0,0,0.6);
    box-shadow:         inset 0px 0px 16px rgba(0,0,0,0.6);
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    content: "";
  }
  img {
    height: 100%;
    border-radius: 50%;
  }
}

.headshot-text {
  margin-right: -40px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 300 !important;
  @include Roboto-Condensed;
  color: rgba(color($primary, 'contrastDefaultColor'), 1);
  @include md-title;
  font-size: 26px;
  line-height: 40px;
}

.md-button {
  &.md-raised {
    &.no-width {
      min-width: 40px;
    }
    &.md-round {
      border-radius: 14px;
    }

    &.link-buttons {
      @include Roboto-Condensed;
      padding-left: 16px;
      padding-right: 8px;
    }

    &.resume-download {
      position: fixed;
      bottom: 16px;
      right: 16px;
      @include Roboto-Condensed;
      padding: 8px 40px 8px 4px;
      border-radius: 20px;
    }
  }
}

md-icon.md-default-theme, md-icon {
  color: color($primary, 'contrastDefaultColor');
}

.layout-padding-none {
  padding: 0px !important;
}

.layout-margin-top {
  margin-top: 8px !important;
}

.layout-margin-bottom {
  margin-bottom: 8px !important;
}

.layout-margin-left {
  margin-left: 8px !important;
}

.layout-margin-right {
  margin-right: 8px !important;
}


.layout-padding-top {
  padding-top: 8px !important;
}

.layout-margin-none {
  margin: 0px !important;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar) , md-toolbar:not(.md-menu-toolbar) {
  &.stretch {
    min-height: initial;
    .md-toolbar-tools {
      height: initial;
      max-height: initial;
    }
  }
}

md-card {
  &.md-round {
    border-radius: 14px;
    md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
      background-color: rgba(color($color-grey, '900'), .08);
      color: color($color-grey, '700');
      text-transform: uppercase;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
    }
  }
}

md-list-item {
  &.md-active {
    background-color: rgba(color($primary, '500'), .4);
  }
}

.left-panel {
  margin-top: -108px;
  margin-left: 3%;

  transition: margin 0.25s ease;


  &.md-focused {
    margin-top: 0px;
  }
}

.right-panel {
  margin-right: 3%;
}

.italic {
  font-style: italic;
}

.primary-text {
  color: color($primary);
}

.chip {
  background-color: rgba(color($color-grey, '900'), .2);
  line-height: 1;
  padding: 4px 7px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  @include Roboto-Condensed;
}

.underlined {
  position: relative;
  &:after {
    position: absolute;
    left: 0;
    bottom: -16px;
    content: '';
    width: 140px;
    height: 4px;
    background: color($primary);
  }
}

.icon-text {
  md-icon {
    fill: color($color-grey, '700');
  }
}

.project-list-item {
  border-left: 6px solid transparent;
  position: relative;
  &.active {
    &:before {
      content: '';
      top: 0;
      position: absolute;
      width: 6px;
      left: -6px;
      height: 100%;
      background: linear-gradient(to bottom, color($color-deep-purple, 'A100'), color($primary));
    }
  }
  padding-left: 24px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 24px;

  .list-image {
    img {
      border-radius: 14px;
      // height: 150px
      // margin-left: 16px;
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25), -4px 4px 12px rgba(0, 0, 0, 0.25);
    }
    button {
      display: none;
    }
  }

  p {
    font-size: 16px;
    @include Roboto-Condensed;
  }
}

.header-container {
  position: relative;
}

.selected-project {
  overflow: hidden;
  &.md-round {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    .slideshow-controls {
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
    }
  }

  transition: height 0.25s ease;


  &.md-focused {
    height: 400px;
  }

  .slideshow-controls {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity 0.25s ease;
    background-color: rgba(#000, .6);
    opacity: 0;
    h2 {
      color: color($primary, 'contrastDefaultColor');
      width: 40%;
      text-align: center;
      margin: 16px;
      text-transform: uppercase;
      font-weight: 600;
    }
    .back {
      margin-right: 64px;
    }

    .forward {
      margin-left: 64px;
    }
    &:hover, &.active {
      opacity: 1;
    }

    button {
      border: 3px solid color($primary, 'contrastDefaultColor');
    }
  }
  height: 300px;
  background-color: #000;
  position: relative;
  img {
    height: 100%;
  }
  .timer-container {
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 50%;
    background: linear-gradient(to bottom, color($color-deep-purple, 'A100'), color($primary));
    padding: 8px;

    svg path {
      stroke: color($primary, 'contrastDefaultColor');
    }
  }
}

md-dialog {
  &.fulscreen {
    img {
      height: 80%;
    }
    md-toolbar {
      background-color: color($primary, 'contrastDefaultColor') !important;
      h2, md-icon {
        color: rgba(color($color-grey, '900'), .8) !important;
      }
    }
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: rgba(color($primary, 'contrastDefaultColor'), .8);
  }
}

.bold {
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  // .mobile-message {
  //   display: inherit !important;
  // }
  //
  // .main {
  //   display: none !important;
  // }

  .tab-container {
    display: flex;
    margin-top: 76px;
    md-card {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;

      md-tabs-canvas {
        height: 56px;
        md-pagination-wrapper {
          height: 100%;
          .md-tab {
            line-height: 34px;
          }
          md-ink-bar {
            background: color($primary)
          }
        }
      }
    }
  }

  .header {
    .pattern {
      width: 46%;
    }
  }

  .social-links {
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .headshot {
    margin: 16px 16px 0 0;
    height: 80px;
  }

  .headshot-text {
    margin-right: -24px;
    margin-top: 48px;
    margin-bottom: 0;
    @include Roboto-Condensed;
    @include md-subhead;
    font-size: 20px;
    line-height: 30px;
  }


  .left-panel, .right-panel {
    display: none;
    &.md-active {
      display: inherit;
    }
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 0;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    max-width: 100% !important;
    md-toolbar {
      display: none !important;
    }
  }
}


@media only screen and (max-width: 500px) {
  .selected-project {
    display: none;
  }

  .everyday-list {
    max-width: 100% !important;
  }

  .everyday-container {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .everyday-label {
    min-width: 40%;
    margin-bottom: 40px;
  }

  .intro-container {
    padding-top: 0;
    margin-top: 0;
  }

  .project-list-item {
    padding: 0;
    flex-direction: column;
    border: 0;

    .flex-60 {
      padding-left: 24px;
      padding-right: 16px;
      padding-top: 24px;
      padding-bottom: 24px;
      max-width: 100%;
    }

    .list-image {
      position: relative;
      img {
        border-radius: 0;
        box-shadow: none;
      }
      button {
        display: inherit;
        position: absolute;
      }
    }


    &.active {
      &:before {
        width: 0px;
      }
    }
  }
}

.md-button {
  &.md-default-theme {
    &.md-primary:not([disabled]) {
      md-icon {
        color: color($primary);
        fill: color($primary);
      }
    }
  }
}
