<div class="layout-row flex layout-row flex layout-align-space-between-start">
{{#paper-card class="flex-40 md-round flex-offset-5" as |card|}}
  {{#paper-toolbar as |toolbar|}}
    {{#toolbar.tools}}
      <h2>Projects</h2>
    {{/toolbar.tools}}
  {{/paper-toolbar}}
  {{#paper-card-content}}
    TESTEST
  {{/paper-card-content}}
{{/paper-card}}
{{#paper-card class="flex md-round" as |card|}}
  {{#paper-card-content}}
    TESTEST
  {{/paper-card-content}}
{{/paper-card}}
</div>
