<div class="layout-row flex-none layout-row flex layout-align-space-between-start">
{{#paper-card class="flex-45 md-round left-panel" as |card|}}
  {{#paper-toolbar as |toolbar|}}
    {{#toolbar.tools}}
      <h2>Projects</h2>
    {{/toolbar.tools}}
  {{/paper-toolbar}}
  {{#paper-card-content class="layout-padding-none layout-column"}}
    {{project-list}}
  {{/paper-card-content}}
{{/paper-card}}
{{#paper-card class="flex-45 md-round right-panel" as |card|}}
  {{#paper-card-content class="layout-padding layout-margin"}}
    <div class="layout-row layout-align-start-start">
      <h2 class="underlined md-display-1 layout-margin-none flex">Hello!</h2>
      <h4 class="md-body-1 flex-20">Some things I work with everyday&hellip;</h4>
      <div class="layout-row flex-50 layout-wrap layout-align-end-start">
        {{#each everydayItems as |item|}}
          <span class="chip layout-margin-left layout-margin-right layout-margin-bottom">{{item}}</span>
        {{/each}}
      </div>
    </div>
    <div class="layout-column">
    <p>
      I am a <span class="primary-text italic bold">JavaScript Developer</span> specializing in <span class="primary-text italic bold">User Experience and Interface design.</span> I have spent the last <span class="primary-text italic bold">2+ years</span> honing and specializing my skills in
      building and maintaining ambitious projects that both scale and function with performace in mind.
    </p>
    <h2 class="italic md-title">User <span class="primary-text">Experience</span> and <span class="primary-text">Satisfaction</span> are at the core of my principles</h2>
    <p>
      My experience in directly interacting with clients in developing
      applications has shaped the foundation of my work philosophy of putting a user's needs at the forefront of my consciousness whenever initiating a project.
    </p>
    <p>
      My current responsibilities include the <span class="primary-text italic bold">design, development, testing, and deployment</span> of the series of web applications
      offered as a platform to our clients. My current specialization is in  <span class="primary-text italic bold">Ember</span>, but my experience and understanding ranges from  <span class="primary-text italic bold">Angular, React, Polymer, etc.</span>
    </p>
    </div>
  {{/paper-card-content}}
{{/paper-card}}
</div>
