{{#ember-cli-google-viewer
    url="https://sl249.github.io/rbeas-portfolio/rbeas-portfolio/Ricardo A. Beas Medina Resume.docx"
  }}
    <div class="layout-row layout-fill flex layout-align-center-center">
      {{paper-progress-circular}}
    </div>
  {{/ember-cli-google-viewer}}
