.fade .preloader {
  opacity: 0;
}

.preloader {
  background-color: #3351FE;
  height: 100%;
  position: fixed;
  width: 100%;
  position: absolute;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  z-index: 3;
}

.preloader .logo {
  position: absolute;
}

.preloader .logo::before {
  font-size: 80px
}
