.fade .preloader {
  opacity: 0;
}

.preloader {
  background-color: #3351FE;
  height: 100%;
  position: fixed;
  width: 100%;
  position: absolute;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  z-index: 3;
}

.preloader .logo {
  position: absolute;
}

.preloader .logo::before {
  font-size: 80px
}

.logo:not(.no-border) {
  border: 2px solid white;
  padding: 4px 8px;
  border-radius: 4px;
}
.logo.small:before {
  font-size: 30px;
}
.logo:before {
  content: 'Rb';
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.animated-logo {
  animation-name: heartBeat;
  -webkit-animation-name: heartBeat;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  animation-iteration-count: 2;
  -webkit-animation-iteration-count: 2;
  animation-delay: 3;
  -webkit-animation-delay: 3;
}

@media only screen and (max-width: 900px) {
  .animated-logo {
    width: 90px;
    height: 90px;
  }
}


@keyframes heartBeat {
   0% {
    transform: scale(none);
    -webkit-transform: scale(none);
  }

  20% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }

  30% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }

  45% {
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
  }

  50% {
    transform: scale(none);
    -webkit-transform: scale(none);
  }

  100% {
    transform: scale(none);
    -webkit-transform: scale(none);
  }
}

@-webkit-keyframes heartBeat {
  0% {
    transform: scale(none);
    -webkit-transform: scale(none);
  }

  20% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }

  30% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }

  45% {
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
  }

  50% {
    transform: scale(none);
    -webkit-transform: scale(none);
  }

  100% {
    transform: scale(none);
    -webkit-transform: scale(none);
  }
}
